{% extends "base.html" %}
{% block conteudo %}
<div class="container mt-4">
<div class="row justify-content-center">
<div class="col-lg-8 col-md-10 col-sm-12">
<div class="card shadow-sm">
<div class="card-header fw-bold">Configurações</div>
<div class="card-body">
<form method="post" class="row g-3">

<div class="col-12 d-flex flex-column gap-2">
  <button type="submit" name="acao" value="load-data-demo" class="btn btn-info w-100">Carregar Dados de Demonstração</button>
</div>

</form>
</div>
</div>
<div class="card mt-4 shadow-sm">
<div class="card-body p-0">

</div>
</div>
</div>
</div>
</div>
{% endblock %}

